.signUp{
    min-height: 45%;
    width: 100%;
    background-image: url("../Assets/Images/WallpaperDog-10867042.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}