footer{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
}

span{
    color: grey;
}

.ul-items li{
    display: inline;
    margin-right: 1.5rem;
    color:#0D6EFD;
}

ul{
    padding: 0;
    margin-bottom: 0.5rem;
}